@import "tailwindcss";

/* src/assets/fonts.css */
@font-face {
  font-family: 'Michroma';
  src: url('./assets/fonts/Michroma-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
    font-family: Michroma;
}

/* Additional custom styles if needed */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* For flipped card example in Showcases */
.showcase-card.flipped {
  background-color: #1f2937; /* Darker shade for flip effect */
}